{
  "projects": {
    "UV-CDAT/uvcdat": {
      "bot-key": "blah",
      "api-key": "**********",
      "events": ["push"],
      "slaves" : ["http://192.168.1.66:9182/slave","http://localhost:9182/slave"],
      "token": "********"
    }
  }
}
