{
  "projects": {
    "UV-CDAT/uvcdat": {
      "bot-key": "*****",
      "api-key": "*****",
      "github-events": ["push"],
      "slaves" : ["http://localhost:9982/slave"],
      "token": "*****"
    }
  }
}
